# Project exclude paths
/build/
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/.filecache
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/.filecache
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/.filecache
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/.filecache
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.ninja_deps
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.ninja_deps
/android/app/.cxx/Debug/s6r634vj/x86/.ninja_deps
/android/app/.cxx/Debug/s6r634vj/x86_64/.ninja_deps
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.ninja_log
/android/app/.cxx/Debug/s6r634vj/x86/.ninja_log
/android/app/.cxx/Debug/s6r634vj/x86_64/.ninja_log
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/_composite.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/android_aot_bundle_release_android-arm.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/android_aot_bundle_release_android-arm64.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/android_aot_bundle_release_android-x64.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/android_aot_release_android-arm.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/android_aot_release_android-arm64.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/android_aot_release_android-x64.stamp
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/s6r634vj/x86/android_gradle_build.json
/android/app/.cxx/Debug/s6r634vj/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/android_gradle_build_command_convertImage_arm64-v8a.txt
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/android_gradle_build_command_convertImage_armeabi-v7a.txt
/android/app/.cxx/Debug/s6r634vj/x86/android_gradle_build_command_convertImage_x86.txt
/android/app/.cxx/Debug/s6r634vj/x86_64/android_gradle_build_command_convertImage_x86_64.txt
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/android_gradle_build_stderr_convertImage_arm64-v8a.txt
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/android_gradle_build_stderr_convertImage_armeabi-v7a.txt
/android/app/.cxx/Debug/s6r634vj/x86/android_gradle_build_stderr_convertImage_x86.txt
/android/app/.cxx/Debug/s6r634vj/x86_64/android_gradle_build_stderr_convertImage_x86_64.txt
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/android_gradle_build_stdout_convertImage_arm64-v8a.txt
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/android_gradle_build_stdout_convertImage_armeabi-v7a.txt
/android/app/.cxx/Debug/s6r634vj/x86/android_gradle_build_stdout_convertImage_x86.txt
/android/app/.cxx/Debug/s6r634vj/x86_64/android_gradle_build_stdout_convertImage_x86_64.txt
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/aot_android_asset_bundle.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/App.framework/App
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/app.dill
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/app.dill
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/app.dill
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/app.dill
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/arm64-v8a/app.so
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/armeabi-v7a/app.so
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/x86_64/app.so
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/build.ninja
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/s6r634vj/x86/build.ninja
/android/app/.cxx/Debug/s6r634vj/x86_64/build.ninja
/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/reply/cache-v2-8e4ae08f01cfafff34d2.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/reply/cache-v2-1432347d58699b66e28c.json
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/reply/cache-v2-c42cf1d6cab73ea20d72.json
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/reply/cache-v2-d7c744a4d662855c787f.json
/lib/app/data/models/check_p2h.dart
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/s6r634vj/x86/cmake_install.cmake
/android/app/.cxx/Debug/s6r634vj/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/s6r634vj/x86/CMakeCache.txt
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-2d903452914774afa344.json
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-3afb5ce851056e97293b.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-09c348f06ff132bd04b4.json
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/reply/cmakeFiles-v1-5819d754054a44bbe916.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/CMakeOutput.log
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/CMakeOutput.log
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/CMakeOutput.log
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/CMakeOutput.log
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/reply/codemodel-v2-1f736cc46c1537859a26.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-9f63eef2989b427e80fb.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-88b503fdf02e675e6b1b.json
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/reply/codemodel-v2-767172e5fdd90e14e3d0.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/compile_commands.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/compile_commands.json
/android/app/.cxx/Debug/s6r634vj/x86/compile_commands.json
/android/app/.cxx/Debug/s6r634vj/x86_64/compile_commands.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/compile_commands.json.bin
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/compile_commands.json.bin
/android/app/.cxx/Debug/s6r634vj/x86/compile_commands.json.bin
/android/app/.cxx/Debug/s6r634vj/x86_64/compile_commands.json.bin
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/convertImage.dir/Users/borisreyson/StudioProjects/absen_io_abp_getx_old/ios/Classes/converter.c.o
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/convertImage.dir/Users/borisreyson/StudioProjects/absen_io_abp_getx_old/ios/Classes/converter.c.o
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/convertImage.dir/Users/borisreyson/StudioProjects/absen_io_abp_getx_old/ios/Classes/converter.c.o
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/convertImage.dir/Users/borisreyson/StudioProjects/absen_io_abp_getx_old/ios/Classes/converter.c.o
/lib/app/modules/hge/p2h/daftarP2hHarian/bindings/daftar_p2h_harian_binding.dart
/lib/app/modules/hge/p2h/daftarP2hHarian/controllers/daftar_p2h_harian_controller.dart
/lib/app/modules/hge/p2h/daftarP2hHarian/views/daftar_p2h_harian_view.dart
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/debug_android_application.stamp
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/debug_android_application.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/debug_ios_bundle_flutter_assets.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/debug_universal_framework.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/debug_unpack_ios.stamp
/lib/app/modules/splash/models/file_pendukung.dart
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_android_aot_bundle_release_android-arm.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_android_aot_bundle_release_android-arm64.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_android_aot_bundle_release_android-x64.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_android_aot_release_android-arm.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_android_aot_release_android-arm64.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_android_aot_release_android-x64.d
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/flutter_assets.d
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/flutter_assets.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/flutter_assets.d
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/flutter_assets.d
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/gen_localizations.stamp
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/gen_localizations.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/gen_localizations.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/gen_localizations.stamp
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/reply/index-2022-11-05T03-05-25-0732.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/reply/index-2022-11-05T03-05-26-0857.json
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/reply/index-2022-11-05T03-05-27-0813.json
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/reply/index-2022-11-05T03-05-28-0725.json
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/kernel_snapshot.d
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/kernel_snapshot.d
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/kernel_snapshot.d
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/kernel_snapshot.d
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/kernel_snapshot.stamp
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/kernel_snapshot.stamp
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/kernel_snapshot.stamp
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/kernel_snapshot.stamp
/lib/app/modules/hge/p2h/menuFormP2h/bindings/menu_form_p2h_binding.dart
/lib/app/modules/hge/p2h/menuFormP2h/controllers/menu_form_p2h_controller.dart
/lib/app/modules/hge/p2h/menuFormP2h/views/menu_form_p2h_view.dart
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/s6r634vj/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/s6r634vj/x86_64/metadata_generation_command.txt
/.dart_tool/flutter_build/6cb82a55448ecd4a54e7c28a6f6efa1d/outputs.json
/.dart_tool/flutter_build/91a705bf379b0d2cc20b4f90a72cdf81/outputs.json
/.dart_tool/flutter_build/b7a0165eb890b0ac2ebdeeee71b36394/outputs.json
/.dart_tool/flutter_build/c8066a21864eb7e4487b6a40eba1ebe8/outputs.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/s6r634vj/x86/prefab_config.json
/android/app/.cxx/Debug/s6r634vj/x86_64/prefab_config.json
/lib/app/modules/splash/provider/provider.dart
/lib/app/modules/master/models/result_models.dart
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/s6r634vj/x86/.cmake/api/v1/reply/target-convertImage-Debug-44ba98596da19443d607.json
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/.cmake/api/v1/reply/target-convertImage-Debug-c152908669719dd6dfbc.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/.cmake/api/v1/reply/target-convertImage-Debug-da310dd9ac7c9bb31ee7.json
/android/app/.cxx/Debug/s6r634vj/x86_64/.cmake/api/v1/reply/target-convertImage-Debug-e94a0f82cd23c2e61c35.json
/android/app/.cxx/Debug/s6r634vj/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/s6r634vj/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/s6r634vj/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/s6r634vj/x86_64/CMakeFiles/TargetDirectories.txt
