# Default ignored files
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/app-release.aab
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cache-v2
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cache-v21
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cache-v22
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cache-v23
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/checksums.lock
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_C.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_C1.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_C2.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_C3.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_CXX.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_CXX1.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_CXX2.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/CMakeDetermineCompilerABI_CXX3.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cmakeFiles-v1
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cmakeFiles-v11
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cmakeFiles-v12
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/cmakeFiles-v13
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/codemodel-v2
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/codemodel-v21
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/codemodel-v22
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/codemodel-v23
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/compile_commands.json.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/compile_commands.json1.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/compile_commands.json2.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/compile_commands.json3.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/converter.c.o
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/converter.c1.o
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/converter.c2.o
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/converter.c3.o
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/executionHistory.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/executionHistory.lock
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/file-system.probe
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/fileHashes.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/fileHashes.lock
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/resourceHashesCache.bin
/shelf/Uncommitted_changes_before_Update_at_12_11_22_18_30_[Changes]/shelved.patch
